/* root */
:root{
    --white: #FFFFFF;
    --blue: #0AACDC;
    --white02: #EAEAEA;
    --black: #040404;
    --gray: #0505056A;
    --blue02: #33439B;
    --gray02: #303336;
    --gray03: #7B8591;
    --black02: #000000;
    --blue03: #3F51B5;
    --green: #40BE65;
    --blue04: #0072CA;
    --orange: #D9A34A;
    --red: #FF4967;
    --gray04: #00000090;
    --yellow: #FFD430;
    --gray05: #00000084;
    --blue05: #008BB4;
}

/* Reset */
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

body{
    min-height: 100vh;
    position: relative;
    padding-bottom: 58px;
}

::placeholder{
    color: white;
    opacity: 1;
}

:-ms-input-placeholder{
    color: white;
}

::-ms-input-placeholder{
    color: white;
}

/* Content */
header .content{
    display: flex;
    background-color: var(--blue);
    padding: 15px 70px;
    color: white;
    align-items: center;
    color: white;
    display: flex;
    justify-content: space-between;
}

header h1{
    color: white;
    font-size: 26px;
}

header h1 span{
    font-weight: 300;
    color: rgba(255, 255, 255, 0.836);
}

header .content > i{
    font-size: 28px;
    padding-right: calc(216px - 24.5px);
}

header form{
    background-color: var(--blue05);
    color: white;
    padding: 0px 15px;
    width: 216px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

header form i{
    font-size: 20px;
    margin-right: 10px;
}

header form input{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    height: 45px;
}

/* Menu */
nav{
    background-color: var(--gray02);
    width: fit-content;
    padding: 0px 10px;
    float: left;
    position: absolute;
    overflow: hidden;
    height: 0px;
    transition: 0.3s ease;
    z-index: 99999;
}

nav ul li{
    margin: 0px 15px 0px 20px;
    color: white;
    padding: 10px;
    font-size: 14px;
    transition: 0.3s;
}

nav ul li i{
    margin-right: 5px;
}

nav ul .topic{
    margin: 20px 10px 10px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.884);
    letter-spacing: 2.4px;
}

nav ul a:hover li{
    color: var(--blue);
}

/* Destaque */
.destaque{
    width: 90%;
    max-width: 800px;
    height: 80vw;
    max-height: 492px;
    min-height: 492px;
    margin: 50px auto;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.destaque > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
}

.destaque .content{
    width: 100%;
    height: 100%;
    max-height: 492px;
    background-color: var(--gray);
    color: white;
    padding: 40px 35px 52px 42px;
    border-radius: 8px;
    position: absolute;
    top: 0%;
}

.destaque .content .container01{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.autor{
    display: flex;
    align-items: center;
}

.autor p{
    text-transform: uppercase;
    margin-left: 10px;
    font-size: 13px;
    letter-spacing: 3.2px;
}

.autor img{
    width: 30px;
}

.destaque .content .container02{
    text-align: left;
    position: absolute;
    width: calc(100% - 77px);
    bottom: 0;
}

.destaque .content .container02 h2{
    font-size: 50px;
    max-width: 500px;
    margin-bottom: 10px;
}

.destaque .content .container02 p{
    max-width: 500px;
    color: rgba(255, 255, 255, 0.897);
    line-height: 23px;
    text-align: justify;
}

.destaque .content .container02 .navegate{
    display: flex;
    align-items: center;
    padding: 20px 0px ;
    width: fit-content;
    margin: 0px auto;
}

.destaque .content .container02 .navegate .case-item{
    padding: 10px 0px;
}

.destaque .content .container02 .navegate .case-item:hover{
    cursor: pointer;
}

.destaque .content .container02 .navegate .item{
    background-color: rgba(223, 223, 223, 0.911);
    width: 20px;
    height: 3px;
    border-radius: 3px;
    margin: 0px 5px;
}

/* Últimas Publicações */
.ultimas-publicacoes{
    background-color: #EAEAEA;
    margin-top: 50px;
    padding: 50px 0px 100px;
}

.ultimas-publicacoes h2{
    text-align: center;
    font-size: 35px;
    margin-bottom: 35px;
}

.ultimas-publicacoes .content{
    display: flex;
    margin: 0px auto;
    width: 95%;
    max-width: 1240px;
}

.ultimas-publicacoes .container01{
    display: flex;
    flex-wrap: wrap;
    width: 65%;
}

.ultimas-publicacoes .box01, .ultimas-publicacoes .box02{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    min-width: 100px;
    background-color: var(--white);
    padding-bottom: 15px;
    margin: 10px 10px;
}

.ultimas-publicacoes .box01 img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 100%;
    max-height: 225px;
    object-fit: cover;
}

.ultimas-publicacoes .box01 .text, .ultimas-publicacoes .box02{
    padding: 20px;
}

.ultimas-publicacoes .box01 h3, .box02 .autor span{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    margin: 15px 0px;
    letter-spacing: 3px;
    color: var(--blue02);
}

.ultimas-publicacoes .box01 h4{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 13px;
}

.ultimas-publicacoes .box01 p, .box02 p{
    font-size: 15px;
    margin-bottom: 8px;
}

.ultimas-publicacoes .box02{
    padding: 25px;
}

.ultimas-publicacoes .box02 .materia{
    padding: 10px 22px 25px;
    margin-bottom: 15px;
}

.ultimas-publicacoes .box02 .autor{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.ultimas-publicacoes .box02 .autor span{
    font-size: 12px;
    color: black;
    letter-spacing: 2.5px;
}

.ultimas-publicacoes .box02 .autor img{
    margin-right: 10px;
    width: 35px;
}

.ultimas-publicacoes .box02 a{
    color: var(--blue);
    font-size: 15px;
    font-weight: bold;
    padding-left: 22px;
    margin-bottom: 20px;
}

.mais-lidas{
    width: calc(35% - 20px);
    min-width: 310px;
    margin: 0px 10px;
    background-color: white;
}

.mais-lidas .container{
    padding: 0px 15px;
}

.mais-lidas h3{
    background-color: var(--blue02);
    padding: 15px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px 10px 0px 0px;
    letter-spacing: 1.35px;
}

.mais-lidas .new{
    display: flex;
    margin: 40px 0px;
}

.mais-lidas .new .image{
    width: 130px;
    min-width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 8px;
}

.mais-lidas .new img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mais-lidas .new .content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}


.mais-lidas .new .content h4{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3.2px;
}

.mais-lidas .new .content p{
    font-size: 14px;
    margin-bottom: 10px;
}

.mais-lidas .new .content span{
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.664);
    font-size: 14px;
    margin: 3px 0px;
}

.mais-lidas .new .content i{
    margin-right: 5px;
}

.mais-lidas .new .content a{
    color: rgba(0, 0, 0, 0.856);
    font-size: 13px;
    transition: 0.3s;
}

.mais-lidas .new .content a:hover{
    color: black;
    font-weight: bold;
}

.mais-lidas .new .content a i{
    margin-left: 5px;
}


/* Categorias */
.categorias{
    display: flex;
}

.categorias .cat{
    width: calc(50% - 20px);
    margin: 20px 10px;
    border-radius: 10px;
    min-height: 190px;
}

.categorias .cat .content{
    background-color: var(--gray05);
    padding: 25px;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    min-height: 190px;
}

.categorias .cat h4{
    margin-bottom: 20px;
    color: var(--yellow);
    letter-spacing: 3.2px;
    text-transform: uppercase;
    font-size: 13px;
}

.categorias .cat p{
    color: white;
    font-size: 14px;
    line-height: 22px;
}

.categorias .cat02{
    background-image: url("../img/NATUREZA2.png");
    background-size: cover;
    background-position: center;
}

.categorias .cat01{
    background-image: url("../img/ARQUITETURA.png");
    background-size: cover;
    background-position: center;
}

.categorias .cat02 h4{
    color: var(--green);
}

/* Footer */
footer{
    background-color: var(--blue);
    padding: 20px 0px;
    text-align: center;
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 20px;
}

@media screen and (max-width: 1000px){

    .ultimas-publicacoes .content{
        justify-content: space-around;
    }

    .ultimas-publicacoes .container01{
        flex-direction: column;
        width: 55%;
    }

    .ultimas-publicacoes .box01, .ultimas-publicacoes .box02{
        width: 100%;
        margin: 10px auto;
    }
}

@media screen and (max-width: 800px){

    .ultimas-publicacoes .box01, .ultimas-publicacoes .box02{
        max-width: 500px;
    }
    
    .ultimas-publicacoes .content{
        flex-direction: column;
    }

    .ultimas-publicacoes .content .container01{
        width: 100%;
    }

    .ultimas-publicacoes .content .mais-lidas{
        width: 100%;
    }

    .ultimas-publicacoes .content .mais-lidas .new{
        width: calc(50% - 10px);
        margin: 20px 5px;
        display: flex;
        flex-direction: column;
    }
    
    .ultimas-publicacoes .content .mais-lidas .container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .ultimas-publicacoes .content .mais-lidas .new .content{
        margin: 10px 0px 0px;
    }

    .ultimas-publicacoes .content .mais-lidas .new .content p{
        max-width: 250px;
    }
}

/* Single */

.new-single{
    background-color: #EAEAEA;
}

.image-single{
    width: 85%;
    height: 30vw;
    margin: 30px auto;
}

.image-single > img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-new{
    display: flex;
    max-width: 1300px;
    padding-top: 50px;
}

.new-single .container-new .content-new{
    padding: 26px 42px;
    margin: 0px 20px 20px;
    background-color: white;
    width: calc(70% - 40px);
    max-width: 1300px;
}

.new-single .container-new .content-new > p{
    color: var(--gray03);
    margin: 17px 0px;
    line-height: 23px;
    max-width: 100%;
}

.new-single .container-new .content-new > h3{
    color: var(--gray03);
    font-size: 25px;
    margin-top: 50px;
    
}

.new-single .container-new .content-new > h2{
    color: var(--gray02);
    margin: 10px 0px 20px;
    font-size: 35px;
}

/* Busca */
#busca h1{
    margin: 50px 0px 50px 5%;
}

#busca .mais-lidas{
    width: 90%;
    max-width: 800px;
    margin: 0px auto;
    background-color: #EAEAEA;
    padding-bottom: 15px;
    box-shadow: 10px 10px 90px rgba(0, 0, 0, 0.24);
}

#busca .mais-lidas .container .new{
    margin: 40px 0px 0px 0px;
}

/* Adicionar tarefa */
#add-new form{
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 500px;
    margin: 50px auto 0px;
    min-height: 535px;
}

#add-new form input, textarea, select{
    margin: 10px auto;
    width: 100%;
    padding: 10px 15px;
}

#add-new form label{
    color: black;
    margin-top: 25px;
}

#add-new form textarea{
    resize: vertical;
    min-height: 100px;
}

#add-new form input[type="submit"]{
    background-color: var(--blue);
    transition: 0.3s ease;
    color: white;
    border: 0px;
    width: 50%;
}

#add-new form input[type="submit"]:hover{
    border: 1px solid var(--blue);
    background-color: initial;
    color: var(--blue);
    cursor: pointer;
}

#add-new form input[type="file"]{
    display: none;
}

#add-new form .upload-image{
    text-align: center;
    background-color: #EAEAEA;
    padding: 15px 15%;
    border: 1px solid black;
}

#add-new form .upload-image i{
    margin-right: 10px;
}

#add-new form .upload-image span{
    font-size: 13px;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.185);
    padding: 4px;
}

#add-new form .upload-image:hover{
    cursor: pointer;
    background-color: #dadada;
}

/* Admin painel */
#painel .container{
    background-color: #303336;
    color: white;
}

#painel .content{
    width: 95%;
    max-width: 850px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    padding: 40px 0px 25px;
}

#painel .content .profile-image{
    max-width: 200px;
    max-height: 240px;
    overflow: hidden;
    padding: 10px;
    background-color: white;
}

#painel .content .profile-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#painel .content .profile-description{
    padding-left: 25px;
}

#painel .content .profile-description .top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

#painel .content .profile-description .top button{
    padding: 7px 10px;
    background-color: white;
    color: #303336;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.3s;
    border: 1px solid #303336;
}

#painel .content .profile-description .top button:hover{
    border: 1px solid white;
    cursor: pointer;
    color: white;
    background-color: #303336;
}

#painel .content .profile-description .metrics span{
    margin: 0px 10px;
    font-weight: bold;
    font-size: 17px;
}

#painel .content .profile-description .metrics .publications::after{
    content: "publicações";
    margin-left: 7px;
    font-weight: 100;
    font-size: 13px;
}

#painel .content .profile-description .metrics .followers::after{
    content: "seguidores";
    margin-left: 7px;
    font-weight: 100;
    font-size: 15px;
}

#painel .content .profile-description .metrics .views i{
    margin-left: 7px;
    font-weight: lighter;
}


#painel .content .profile-description .biography{
    margin-top: 30px;
    max-width: 500px;
    line-height: 25px;
    letter-spacing: 1px;
    font-size: 15px;
}

#painel .topics{
    padding: 20px 0px 0px;
    display: flex;
    box-shadow: 15px 0px 50px rgba(0, 0, 0, 0.3);
    justify-content: space-around;
}

#painel .topics li{
    border-bottom: 1px solid #303336e0;
    font-size: 14px;
    text-align: center;
    padding: 10px 0px;
    width: 30%;
}

/* Cadastro */
#cadastro form{
    display: flex;
    width: 95%;
    max-width: 320px;
    flex-direction: column;
    margin: 50px auto 20px;
}

#cadastro form input{
    margin: 8px 0px 15px;
    padding: 8px 10px;
}

#cadastro .altern{
    text-align: center;
    font-size: 14px;
    margin-bottom: 100px;
}

#cadastro .altern a{
    text-decoration-line: underline;
    text-underline-offset: 5px;
    font-weight: bold;
    color: var(--blue);
}

/* Login */