<%- include("partials/header.ejs")%>
<main id="painel">
    <div class="container">
        <div class="content">
            <div class="profile-image">
                <img src="../../public/img/FOTO.png" alt="Profile">
            </div>
            <div class="profile-description">
                <div class="top">
                    <h2><%= user.username%></h2>
                    <button class="edit-profile">Editar perfil</button>
                </div>
                <div class="metrics">
                    <span class="publications">0</span>
                    <span class="followers">0</span>
                    <span class="views">0<i class="fa-regular fa-eye"></i></span>
                </div>
                <div class="biography">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi recusandae consequatur hic voluptatem esse, nemo aperiam</p>
                </div>
            </div>
        </div>
    </div>
    <ul class="topics">
        <li>Favoritos</li>
        <li>Suas notícias</li>
    </ul>
</main>
<%- include("partials/footer.ejs")%>